/*main css*/
* {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.navbar {
  width: 100%;
  height: 50px;
  background-color: #343f56;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 20px 40px #343f56;
  position: relative;
}
.logo-container {
  height: 100%;
  margin-left: 20px;
}
.logo-container img {
  width: 100%;
  height: 100%;
}
.link-container {
  display: flex;
  align-items: center;
  border-bottom: 1px rgb(161, 161, 161) solid;
}
.link-container a {
  margin: 0 40px 0 40px;
  font-size: 16pt;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
.link-container a img {
  width: 96px;
  height: 69px;
}
@media screen and (max-width: 800px) {
  .link-container a {
    margin: 0 20px 0 20px;
  }
}
@media screen and (max-width: 600px) {
  .link-container a {
    margin: 0 10px 0 10px;
  }
}
@media screen and (max-width: 500px) {
  .link-container a {
    margin: 0 5px 0 5px;
    font-size: 12pt;
  }
}
@media screen and (max-width: 380px) {
  .link-container a {
    margin: 0 5px 0 5px;
    font-size: 10pt;
  }
}
.bg {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #f5e6ca;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-box {
  background-color: #343f56;
  min-height: fit-content;
  width: 400px;
  border-radius: 20px;
  padding: 20px 30px 20px 30px;
  box-shadow: 0px 0px 20px black;
}
.form-box .button-div {
  width: 100%;
  display: flex;
}
.form-box .button-div h1 {
  color: white;
  align-self: start;
  margin-right: auto;
  position: relative;
  top: -17px;
}
@media screen and (min-width: 700px) {
  .form-box .button-div h1{
    top: 5px;
  }
}
.go-back {
  position: relative;
  margin-left: auto;
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: #343f56;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
}
.go-back img {
  filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(69deg)
    brightness(112%) contrast(101%);
}
.go-back:hover {
  background-color: #252b38;
}
.go-back:active {
  border: 4px solid #4c5d81;
}
.go-back img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.input-container input {
  margin: 20px;
  margin-right: 0;
  height: 40px;
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 10px;
  color: #343f56;
  padding: 10px;
  padding-left: 20px;
  font-size: 15pt;
}
.input-container div {
  display: flex;
}
.input-container img {
  height: 30px;
  width: 30px;
  margin-top: auto;
  margin-bottom: auto;
}
.error-div {
  height: fit-content;
  max-width: 400px;
}
.error-div p {
  color: #ff0000;
  margin-bottom: 20px;
  font-weight: 600;
}
.form-button-disabled,
.form-button {
  width: 100%;
  height: 40px;
  background-color: #f54748;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15pt;
  font-weight: 600;
  cursor: pointer;
}
.form-button:hover {
  background-color: #db3e3e;
}
.form-button-disabled {
  background-color: rgb(245, 71, 72, 0.6);
}
.login-bottom-text {
  font-size: 14pt;
  font-weight: 600;
  margin-top: 25px;
  text-align: center;
  color: white;
}
.login-bottom-text a {
  text-decoration: none;
  color: #ee2b2b;
}
.login-bottom-text button:hover,
.login-bottom-text a:hover {
  color: #e94242;
}
.forgot-password-button {
  background-color: #343f56;
  border: none;
  cursor: pointer;
  font-size: 12pt;
  color: #ee2b2b;
  font-weight: 600;
}
.forgot-password-input {
  width: 60%;
  height: 40px;
  background-color: white;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #343f56;
  padding-left: 20px;
}
.submit-email-div {
  display: flex;
  justify-content: center;
}
.submit-email {
  width: 15%;
  border-radius: 0px;
  height: 42px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f54748;
}
.submit-email:hover {
  background-color: #eb3535;
}
.submit-email img {
  position: relative;
  left: -7px;
  top: 2px;
  width: 20px;
  height: 20px;
}
.forgot-password h3 {
  font-size: 14pt;
}
.forgot-password p {
  margin-top: 15px;
  font-size: 12px;
  margin-bottom: 15px;
}
.forgot-password-message p {
  font-size: 12pt;
  color: #ff0000;
}
.signup-information {
  color: white;
  font-size: 12pt;
  font-weight: 600;
  margin-right: 10px;
  max-width: 400px;
  opacity: 0.7;
}
@media screen and (max-width: 700px) {
  .form-box {
    width: 300px;
  }
  .form-box h1 {
    font-size: 18pt;
    margin-top: 30px;
  }
  .signup-information {
    font-size: 11pt;
  }
  .input-container input {
    font-size: 12pt;
  }
}
@media screen and (max-width: 400px) {
  .form-box {
    width: 250px;
  }
  .input-container input {
    font-size: 11pt;
  }
  .form-box h1 {
    font-size: 16pt;
    margin-top: 33px;
  }
  .error-div p {
    font-size: 11pt;
  }
  .login-bottom-text {
    font-size: 11pt;
  }
  .submit-email img {
    left: -10px;
  }
}
@media screen and (max-width: 315px) {
  .form-box {
    border-radius: 0px;
  }
  .input-container img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  .input-container input {
    margin-left: 0px;
  }
  .form-button {
    font-size: 12pt;
  }
  .signup-information {
    font-size: 10pt;
  }
}
.page-content {
  background-color: #f5e6ca;
  height: 100vh;
  width: 100%;
  padding-top: 50px;
}
