/*main css*/
*{
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.nav-box{
  width: 100vw;
  height: 75px;
  background-color: #f54748;
  display: flex;
}
.logo-icon-box{
  width: 100px;
  height: 100%;
  margin-right: auto;
}
.logo-icon-box img{
  width: 100px;
  height: 100%;
}
.menu-button-box{
  width: 75px;
  height: 100%;
  margin-left: auto;
  position: relative;
  display: flex;
}
.nav-menu-shade{
  box-shadow: 0px 10px 30px 20px rgba(245, 71, 72, .6);
}
.menu-button-box button{
  width: 60px;
  height: 60px;
  padding: none;
  background: none;
  border: none;
  cursor: pointer;
  align-self: center;
  border-radius: 10px;
}
.menu-button-box button:hover{
  background-color: rgb(179, 24, 24);
}
.menu-button-box button:active{
  border: rgb(202, 59, 59) 3px solid;
}
.menu-button-box button img{
  width: 30px;
  height: 30px;
  position: relative;
  bottom: -2px;
}
@keyframes nav-menu-slidein {
  from{left: -100vw;}
  to{left: 0vw;}
}
@keyframes nav-menu-slideout {
  from{left: 0vw;}
  to{left: -100vw;}
}
.navigation-menu{
  position: fixed;
  display: inline-block;
  width: 100vw;
  height: 100vh;
  background-color: #f5e6ca;
  animation: nav-menu-slidein .2s;
  z-index: 200;
}
.logged-out-links{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.logged-out-links a {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 20px 5px 20px;
  text-decoration: none;
  color: white;
}
.logged-out-links .login-link{
  background-color: #343f56;
}
.logged-out-links .login-link:hover {
  background-color: #576481;
}
.logged-out-links .signup-link{
  background-color: #f54748;
}
.logged-out-links .signup-link:hover {
  background-color: #e96262;
}




.content{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.navbar-link{
  margin: 5px 30px 15px 30px;
  padding-bottom: 15px;
  font-size: 15pt;
  text-decoration: none;
  border-bottom: 1px solid #343f56;
}
a.navbar-link{
  color: #343f56; 
}
a.navbar-link:hover{
  color: #5c6986;
}

.bg{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #f54748;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-box{
  background-color: #fb9300;
  min-height: 800px;
  min-width: 400px;
  border-radius: 20px;
  padding: 20px 30px 0px 30px;
  box-shadow: 0px 0px 20px black;
}
.form-box h1{
  color: #343f56;
  margin-top: 25px;
}
.form-box .button-div{
  width: 100%;
  position: relative;
}
.go-back{
  position: relative;
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: #fb9300;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  float: inline-end;
}
.go-back:hover{
  background-color: #cf8012
}
.go-back:active{
  border: 4px solid #f8a128;
}
.go-back img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.input-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.input-container input{
  margin: 20px;
  height: 40px;
  width: 100%;
  background-color:#f5e6ca;
  border: none;
  border-radius: 10px;
  color: #343f56;
  padding: 10px;
  padding-left: 20px;
  font-size: 15pt;
}
.input-container div{
  display: flex;

}
.input-container img{
  height: 30px;
  width: 30px;
  margin-top: auto;
  margin-bottom: auto;
}
.error-div{
  height: fit-content;
  max-width: 400px;
}
.error-div p{
  color: #ff0000;
  margin-bottom: 20px;
}
.login-button-disabled,
.login-button{
  width: 100%;
  height: 40px;
  background-color: #f54748;
  border: none;
  border-radius: 10px;
  color: #f5e6ca;
  font-size: 15pt;
  cursor: pointer;
}
.login-button:hover{
  background-color: #db3e3e;
}
.login-button-disabled{
  background-color: rgb(245, 71, 72, .6);
}
.create-account-text{
  font-size: 14pt;
  margin-top: 25px;
  text-align: center;
  color: #343f56;
}
.create-account-text a{
  text-decoration: none;
  color: #ee2b2b;
}